@import "bourbon";
@import "neat";
@import "base/base";

@import "includes/header";
@import "includes/tracks";
@import "includes/hover";

body {
  margin: 0;
}

#container {
  @include outer-container;
  margin-top: 20px;
}

#footer {
  text-align: center;
  margin: $base-spacing;

  em {
    span {
      display: none;
    }
    &:after {
      content: "\f442";
      color: #c00133;
      font-family: "Ionicons";
      font-style: normal;
    }
  }
}
