<div class="row current-track">
  <div class="col-xs-3 col-sm-2 image">
    <img {{bind-attr src=image}}>
  </div>
  <div class="col-xs-9 col-sm-10 title">

    {{#if artists}}
      {{artists}} - {{title}}
    {{else}}
      <em>No track playing</em>
    {{/if}}
  </div>
</div>
