<div class="row">
  <div class="col-xs-12">
    <h3>Queue</h3>
    <ol class="media-list">
      {{#each track in controller itemController='track'}}
        {{view 'track'}}
      {{/each}}
    </ol>
  </div>
</div>
