<section class="queue">
  <h1>Queue</h1>
  <ol>
  {{#each track in queue}}
    {{spotify-track data=track.spotifyData queueable=false}}
  {{/each}}
  </ol>
</section>

<section class="playlist">
  <h1>Playlist/Album</h1>
  {{spotify-playlist data=playlist}}
</section>

