<div layout="row" layout-sm="column" layout-margin>
  <section flex class="md-whiteframe-z1" layout="column">
    {{#md-toolbar class="md-accent"}}
      <div class="md-toolbar-tools">
        <h3>
          <md-icon>{{material-design-icon name='audiotrack'}}</md-icon>
          Tracks
        </h3>
      </div>
    {{/md-toolbar}}

    {{#md-list}}
      {{#each tracks as |track|}}
        {{#spotify-track data=track queueable=false as |track|}}
          {{track-list-item track=track}}
        {{/spotify-track}}
      {{/each}}
    {{/md-list}}
  </section>

  <section flex class="md-whiteframe-z1" layout="column">
    {{#md-toolbar class="md-accent"}}
      <div class="md-toolbar-tools">
        <h3>
          <md-icon>{{material-design-icon name='album'}}</md-icon>
          Album
        </h3>
      </div>
    {{/md-toolbar}}

    {{#md-list}}
      {{#each albums as |album|}}
        {{spotify-album data=album store=store}}
      {{/each}}
    {{/md-list}}
  </section>
</div>
